* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: #333;
}

.result {
    margin: 1rem auto;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: #333;
    margin-top: 250px;
    width: 30rem;
    padding-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
}

#Btn {
    padding: .5rem 1.1rem;
    border: 0;
    border-radius: 6px;
    font-size: 1.1rem;
    color: #000;
    background: #fff;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

/* CSS of front page */
.box {
    position: absolute;
    top: 20%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#heading {
    letter-spacing: 1px;
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
}

@media screen and (max-width:530px) {
    #heading {
        font-size: 2.5rem;
    }

    #playBtn {
        padding: 4px 20px;
        font-size: 1.1rem;
    }
    @keyframes changeSize {
        0% {
            font-size: 1.1rem;
        }

        50% {
            font-size: 2rem;
        }

        100% {
            font-size: 1.1rem;
        }

    }
    #playBtn:hover {
        animation: none;
        transform: scale(1.1);
    }

}

#playBtn {
    padding: 6px 22px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    background: red;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    animation: changeSize 1s linear infinite;
}

#playBtn:hover {
    animation: none;
    transform: scale(1.2);
}

@keyframes changeSize {
    0% {
        font-size: 1.5rem;
    }

    50% {
        font-size: 2.3rem;
    }

    100% {
        font-size: 1.5rem;
    }

}

a {
    text-decoration: none;
    color: #fff;
}

/* CSS of start page */

#head {
    margin-top: 1rem;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.modes {
    /* height: 100vh;
    width: 100vw; */
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modes div {
    font-size: 50px;
    width: min-content;
    text-align: center;
    background: blue;
    padding: 7px;
    transition: 0.3s all linear;
    border-radius: 10px;
}

.modes div:hover {
    transform: scale(1.1);
}